
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Serif:ital@0;1&family=MedievalSharp&display=swap');

@import "tailwindcss";

.badge{
    position:absolute;
    background-color:aliceblue;
    padding:5px;
    display:flex;
    border-radius:10%;
    color:black;
    font-weight:bold;

}
.cat-list{
  margin-right:1rem;
}
.hero-image{
    padding:20px;
}
.post-content{
    padding:5px;
}
.post-title{
    padding-top:40px;
}
.code-container{
    margin-top: 20px;
}
pre {
  background: #111;
  padding: 1.2rem;
  padding-top: 2rem;
  overflow-x: scroll;
  width:100%; 
}

pre code {
  font-family: monospace;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.3;
}

/* Paragraphs */
p {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  color: #111827; /* dark gray */
}
.about-content h1{
  font-size: 70px;
  font-family: "Instrument Serif", sans-serif;
  line-height:60px;
}
.about-content p{
  font-size: 1rem;
  font-weight:400;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-left:1rem;
  padding-right:1rem;
  line-height: 20px;
  font-family: 'Cousine', sans-serif;
  color: #000000;
}
.image-container p{
  line-height: 20px;
  font-family: 'Cousine', sans-serif;
  font-size: 1rem;
  font-weight:400;
}
.post-card p{
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: #111827; /* dark gray */
}
.post-content p{
  font-size: 1rem;
  font-weight:400;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding-left:1rem;
  padding-right:1rem;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  color: #3b3b3b;
}