---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

---

<Layout>
    <section class="container-about px-5 md:flex items-top mx-auto" aria-label="About-me">
        <div class="image-container md:w-1/3 flex flex-col items-start space-y-3">
            <img src="/images/profile_image.jfif" title="who is this guy" alt="My headshot"  class="rounded-2xl mt-15 shadow-1xl w-full h-auto cursor-pointer" >
            <p class="mb-1!  p-0!">femiaguaze2017@gmail.com</p>
            <p class="mb-1! m-0! p-0!"><a href="/files/resume.pdf" target="_blank" rel="noopener noreferrer" class="underline underline-offset-7 cursor-pointer">resume</a></p>
        </div>
        <div class="about-content md:w-2/3 md:pl-10">
            <h1 class="h1 font-bold text-3xl mt-12">Some Things Never Get Old</h1>
            <p class="mb-4">
                Grew up in a tiny brownstone in the South Bronx--  6 families one house, BIG hallway arguments.
                <br>
                I sang along to commercials competitively and knew every line to James Cameron's Avatar...then every line to Happily Never After, Arthur and the Invisibles, Meet the Robinsons.. you get it. Some  things never get old.
            </p>
            <p>

                I went into college undeclared. 
                <br>
                Stayed that way longer than I'd like to admit.
                <br>
                Eventually, found the courage to take some art classes.
                <br>
                Then writing. A buttload of Greek literacy and Philosophy.
                <br>
            </p>
            <p>
                A computer science class, which I found fun for reasons that still elude me. Utimately, I landed on Screenwriting.
                <br>
            </p>
            <p>
                Since then, I've been working production: 
                <br>
                Production Assistant for AT&T's She's got Next, 
                <br>
                Director of Photography for a Puma spot, 
                <br>
                Camera PA for a few features and documentaries.
                <br> 
                And a weekend short film warrior when sleep felt optional.
            </p>
            <p>
                I also embrace my technical side by writing code, learning motion design or tinkering with anything that spits out draconian error messages.
                <br>
            </p>
            <p>
                And sometimes, when I'm not grinding AimLabs I rewatch His Girl Friday for the billionth time because
    
                Some things never get old.
            </p>
            <!-- <Link href="mailto:femiaguaze2017@gmail.com" style="primary" text="Contact Me"/> -->
        </div>
    </section>
</Layout>
